// COLORS


// PROJECT
$color-primary: #d6400c;
$color-primary-light: #fc7546;
$color-primary-very-light: #ffb79e;
$color-primary-dark: #7a2404;

//$color-secondary: #ffb900;
//$color-secondary-light: #ffb900;
//$color-secondary-dark: #ff7730;

//$color-tertiary: #2998ff;
//$color-tertiary-light: #2998ff;
//$color-tertiary-dark: #5643fa;


// BLACK - WHITE

$color-real-white: #fff;
$color-real-black: #000;

$color-white: #fff;
$color-grey-very-light: #e7e7e7;
$color-grey-light: #d1d1d1;
$color-grey-dark: #383838;
$color-black: #000;

// MAIN COLORS

$color-red-light: #ffb1b6;
$color-red: #ff2626;


$color-transparent: rgb(0, 0, 0, 0);

// FONT
$font-size-smaller: 1.25rem;
$font-size-small: 1.4rem;
$font-size-default: 1.6rem; // default
$font-size-big: 1.8rem;

// Input - Btn

$border-size-normal: 2px;
$border-size-bigger: 3px;