.container--index {
    display: grid;
    grid-template-rows: 10vh 90vh min-content;
    //justify-items: center;
    //align-items: center;
}

.header {
    background-color: #d63211;
    //padding: auto;

    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10rem, 20vw) minmax(1rem, 20vw) min-content minmax(1rem, 20vw) min-content minmax(10px, 1fr);
    align-items: center;

    &__logo {
        grid-column: 2 / span 1;
        width: 100%;
        //height: 100%;
        //object-fit: cover;
        //display: block;
    }

    &__login {
        grid-column: 4 / span 1;

        &-form {
            display: flex;
        }

        &-username {
            margin-right: 5px;
        }

        &-password {
            margin-right: 5px;
        }
    }

    &__input {
        border: none;
        border-radius: 100px;
        background-color: transparent;
        padding: 3px 5px 3px 5px;
    }

    &__registration {
        grid-column: 6 / span 1;
    }
}

.main {
    margin-top: 10px;
}

.popup-reg {
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    background-color: chartreuse;
    position: fixed;
    top: 0;
    left: 0;
}