.container--main {
    display: grid;
    // header content footer
    grid-template-rows: 5rem calc(100vh - 5rem) min-content;
}

.header-main {
    display: grid;
     //minmax(1rem, 25vw) middle space
    grid-template-columns: minmax(2rem, 5vw) min-content 1fr min-content minmax(2rem, 5vw);
    align-items: center;

    background-color: $color-primary;

    &__logo {
        grid-column: 2 / span 1;
        font-size: 4rem;
    }

    &__navigation {
        grid-column: 4 / span 1;
    }
}

.main-main {
    display: grid;
    grid-template-columns: minmax(60rem, 1fr) minmax(40rem, 1fr);
}