.btn {
    &,
    &:link,
    &:visited {
        // text-transform: uppercase;
         text-decoration: none;
         padding: 0.5rem 2rem 0.5rem;
        // display: inline-block;
         border-radius: 10rem;
         transition: all .2s;
        // position: relative;
        // font-size: $font-default-size;
        background-color: rgba($color-grey-light, 75%);
        font-family: "Roboto Medium";
        font-size: $font-size-big;


        // // Change for the <button> element
         border: none;
         cursor: pointer;
    }

    &:hover {
        //transform: translateY(3px);
        box-shadow: inset 0 0 3px rgba($color-black, .5);
        background-color: rgba($color-primary, 80%);
        color: $color-white;

        &::after {
            transform: scaleX(1.5) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        box-shadow: inset 0 0 4px rgba($color-black, .5);
        background-color: rgba($color-primary, 80%);
        color: $color-white;
    }

    &--primary {
        background-color: rgba($color-primary, 80%);
        color: $color-white;
        padding: 0.5rem 2rem 0.5rem;

        &:hover {
            box-shadow: inset 0 0 3px rgba($color-white, .5);
            background-color: rgba($color-white, 80%);
            color: $color-primary;
        }

        &:active,
        &:focus {
            outline: none;
            box-shadow: inset 0 0 4px rgba($color-white, .5);
            background-color: rgba($color-white, 80%);
            color: $color-primary;
        }
    }
}