.day {
    background-color: #ffffff;
    //overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;

    &__title {
        margin: 3rem 0 0 1rem;
        font-size: 2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        text-align: center;
    }

    &__list {
        padding: 3rem;
        list-style: none;
        font-size: $font-size-small;
    }

    //&__btn {
    //    display: inline-block;
    //}

    &__entry-background {
        padding: 0.6rem 1.2rem 0.6rem 1.2rem;
        border-radius: 10rem;
        outline: none;
        border: none;
        border: solid $border-size-normal $color-transparent;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            border: solid $border-size-normal $color-primary-light;
            cursor: text;
        }
    }

    &__row {
        display: grid;

        //                      time    content           qtn unit save           remove
        grid-template-columns: 6.5rem minmax(30rem, 1fr) 4rem 6rem min-content min-content;
        grid-template-rows: minmax(2rem, min-content);
        grid-gap: 0.75rem;
        //align-items: center;
        transition: all .5s;

        margin-bottom: 1rem;

        &-time {
            background-color: $color-primary-very-light;
            text-align: center;
            height: 2rem;
        }

        &-content {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;

            background-color: $color-grey-light;
            height: 2rem;

            &--red {
                background-color: $color-red-light;
            }

            &--small {
                font-weight: $font-weight-bold;
                padding: 0 1.5rem 0 1.5rem;

                &:hover,
                &:active,
                &:focus {
                    cursor: pointer;
                }
            }

            &--hidden {
                visibility: visible;
                display: none;
            }

            &--extended {
                border-radius: 5px;
                height: 100%;
                visibility: visible;
                display: block;

                padding: 1rem;
            }
        }

        &-quantity {
            background-color: $color-primary-very-light;
            text-align: center;
            height: 2rem;
            border-radius: 50px 0 0 50px;
            padding: 0 0 0 0;
            margin-right: -2px;

            &-unit {
                background-color: $color-primary-very-light;
                text-align: center;
                height: 2rem;
                border-radius: 0 50px 50px 0;
                padding: 0 0 0 0;
                margin-left: -2px;
            }
        }

        &-save {
            height: 2rem;
            width: 3rem;
            padding: 0 0.5rem 0 0.5rem;
            line-height: 0;
            border: $border-size-normal;

            &:hover,
            &:active,
            &:focus {
                border: $color-primary $border-size-normal;
            }
        }

        &-remove {
            background-color: $color-transparent;
            color: $color-black;
            border: none;
            outline: none;
            width: 2rem;
            height: 2rem;
            padding: 0 0 3px 0;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 0;
            border-radius: 50px;
            text-align: center;

            &:hover,
            &:active,
            &:focus {
                color: $color-white;
                border: none;
                background-color: $color-red;
                cursor: pointer;
            }
        }
    }

    &__comment {
        background-color: $color-grey-light;
        border-radius: 5px;
        margin: 2rem 3rem 2rem 3rem;
        font-size: $font-size-small;
        padding: 0.5rem 1rem;

        &-title {
            margin: 0.5rem 0.5rem 0.5rem 0;
            font-size: $font-size-default;
        }

        &-text {
            display: block;
            background-color: $color-grey-very-light;
            resize: vertical;
        }

        &-save {
            display: block;
            margin-top: 0.5rem;
            padding: 0 1rem 0 1rem;
            font-size: $font-size-small;
        }
    }

    &__dish {
        display: grid;
        grid-template-rows: repeat(6, min-content);
        grid-gap: 1rem;

        &-name-title {
            font-weight: $font-weight-bold;
        }

        // ingredients -> day__ingredients

        &-comment {

            &-title {
                font-weight: $font-weight-bold;
            }

            &-text {
                font-family: "Open Sans";
                font-size: $font-size-small;
                resize: vertical;
                background-color: $color-grey-very-light;
                border-radius: 5px;
            }
        }
    }

    &__ingredients {
        //display: grid;
        //grid-template-columns: repeat(2, 1fr);
        margin-left: 1rem;

        list-style: none;

        &-title {
            font-weight: $font-weight-bold;
        }

        &-item {
            display: grid;
            grid-template-columns: 4rem 3rem minmax(6rem, 1fr) 1rem;
            grid-gap: 0.5rem;

            margin: 0 0.5rem 0.5rem 0;

            font-size: $font-size-smaller;
            font-weight: 300;

            // TODO duplicated code ahoy
            &--quantity {
                width: 100%;

                padding: 0 0.5rem 0 0.5rem;
                border-radius: 3px;
            }

            &--quantity-unit {
                width: 100%;

                padding: 0 0.5rem 0 0.5rem;
                border-radius: 3px;
            }

            &--name {
                width: 100%;
                padding: 0 0.5rem 0 0.5rem;
                border-radius: 3px;
            }

            &--add {
                height: 2rem;
                width: 2rem;
                padding: 0 3px 2px 0;
                line-height: 0;
            }

            &--remove {
                height: 2rem;
                width: 2rem;
                padding: 0 3px 5px 4px;
                line-height: 0;
                color: red;
                box-shadow: none;
            }
        }
    }
}