.day {
    background-color: #ffffff;

    &__title {
        margin: 3rem 0 0 1rem;
        font-size: 2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        text-align: center;
    }

    &__list {
        padding: 3rem;
        list-style: none;
        font-size: $font-size-small;
    }

    //&__btn {
    //    display: inline-block;
    //}

    &__entry-background {
        padding: 0.6rem 1.2rem 0.6rem 1.2rem;
        border-radius: 10rem;
        outline: none;
        border: none;
        border: solid $border-size-normal $color-transparent;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            border: solid $border-size-normal $color-primary-light;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 6rem minmax(20rem, 1fr) 10rem 2rem 2rem;
        grid-template-rows: minmax(2rem, min-content);
        grid-gap: 0.75rem;

        margin-bottom: 1rem;

        &-time {
            background-color: $color-primary-very-light;
            text-align: center;
            height: 2rem;
        }

        &-content {
            background-color: $color-grey-light;
            height: 2rem;

            &--red {
                background-color: $color-red-light;
            }

            &--extended {
                border-radius: 5px;
                height: 100%;
                visibility: hidden;
            }
        }

        &-quantity {
            background-color: $color-primary-very-light;
            text-align: center;
            height: 2rem;
        }

        &-save {
            height: 2rem;
        }

        &-remove {
            background-color: $color-transparent;
            color: $color-black;
            border: none;
            outline: none;
            //width: 2rem;
            height: 2rem;
            text-align: center;
            padding: 0 0 2px 0;
            font-size: 2rem;

            &:hover,
            &:active,
            &:focus {
                color: $color-red;
            }
        }
    }

    &__comment {
        background-color: $color-grey-light;
        border-radius: 5px;
        margin: 2rem 3rem 2rem 3rem;
        font-size: $font-size-small;
        padding: 0.5rem 1rem;

        &-title {
            margin: 0.5rem 0.5rem 0.5rem 0;
            font-size: $font-size-default;
        }

        &-text {
            display: block;
            background-color: $color-grey-very-light;
        }

        &-save {
            display: block;
            margin-top: 0.5rem;
            padding: 0 1rem 0 1rem;
            font-size: $font-size-small;
        }
    }
}