.month {
    background-color: beige;

    &__container {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__day {
        width: 6rem;
        height: 6rem;

        &-number {
            display: inline-block;
            right: 3px;
            bottom: 3px;
        }

        &--today {
            //border: inset 2px $color-primary-light;
            color: $color-green;
            font-weight: $font-weight-bold;
        }

        &--0 {
            background-color: $color-grey-very-light;
        }
        &--1 {
            background-color: rgba($color-red, .1);
        }
        &--2 {
            background-color: rgba($color-red, .2);
        }
        &--3 {
            background-color: rgba($color-red, .3);
        }
        &--4 {
            background-color: rgba($color-red, .4);
        }
        &--5 {
            background-color: rgba($color-red, .5);
        }
        &--6 {
            background-color: rgba($color-red, .6);
        }
        &--7 {
            background-color: rgba($color-red, .7);
        }
        &--8 {
            background-color: rgba($color-red, .8);
        }
        &--9 {
            background-color: rgba($color-red, .10);
        }
        &--10 {
            background-color: rgba($color-red, 1);
        }
    }
}