.footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    background-color: $color-grey-dark;

    &__ {
        &nav, &logo, &copyright-text {
            margin-top: 4rem;
        }
    }

    &__nav {
    }

    &__logo {
        width: 25rem;
    }

    &__copyright-text {
        margin-bottom: 2rem;
    }
}