<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<li th:fragment="dishRow (id, dishEntry)" class="day__row">
    <!-- dishTime- -->
    <input th:id="'dish-time-' + ${id}" class="day__entry-background day__row-time" value="22:38" th:name="'dishTime-' + ${id}"/>

    <!-- DEV: switch next 3 rows comments-->
    <!--<div id="dayEntry1ContentHidden" class="day__row-content day__row-content&#45;&#45;extended">-->
    <span th:id="'dishContentSmall-' + ${id}"
          class="day__entry-background day__row-content day__row-content--small pointer"
          onclick="extendDishContent(this)" th:text="${dishEntry.dish.name}">Dish name</span>
    <div th:id="'dishContentExtended-' + ${id}" class="day__entry-background day__row-content day__row-content--hidden">
        <div class="day__dish">

            <p class="day__dish-name-title">Name:</p>
            <input th:id="'dish-name-' + ${id}" class="day__entry-background day__dish-name-input" th:value="${dishEntry.dish.name}" />
            <p class="day__ingredients-title">Ingredients:</p>

            <ul th:id="'ingredientList-' + ${id}" class="day__ingredients">
                <div  th:each="ingredient : ${dishEntry.dish.dishIngredient}">
                    <li class="day__ingredients-item" th:replace="fragments/dishRow :: ingredient(ingredientData=${ingredient})"></li>
                </div>
            </ul>
            <button class="btn btn--primary btn--primary--outline day__ingredients-item--add" th:onclick="'newIngredient(' + ${id} + ')'">+</button>

            <p class="day__dish-comment-title">Comment/ Recipe:</p>
            <textarea th:id="'dish-cmt-' + ${id}" class="no-input-style day__entry-background day__dish-comment-text" rows="4" cols="25" name="dayComment" maxlength="3000">TODO NO DATA BINDING HERE!</textarea>

        </div>
    </div>

    <input th:id="'dish-quantity-' + ${id}" class="day__entry-background day__row-quantity" th:value="${dishEntry.quantityIngredient}" />
    <input th:id="'dish-unit-' + ${id}" class="day__entry-background day__row-quantity-unit" th:value="${dishEntry.unit.name}" />
    <button class="btn btn--primary btn--primary--outline day__row-save" th:onclick="'saveDayDish(' + ${id} + ')'">&#10004</button>
    <button class="day__background day__row-remove">x</button>
</li>

<li th:fragment="ingredient (ingredientData)" class="day__ingredients-item">
    <input class="day__entry-background day__ingredients-item--quantity" th:value="${ingredientData.quantity}" />
    <input class="day__entry-background day__ingredients-item--quantity-unit" th:value="${ingredientData.unit.name}" />
    <input class="day__entry-background day__ingredients-item--name" th:value="${ingredientData.ingredient.name}" />
    <button class="btn day__ingredients-item--remove">x</button>
</li>

</html>