<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<title th:text="${title}"></title>-->
<li th:fragment="dishRow (id, dishEntry)" class="day__row">
    <!-- dishTime- -->
    <input class="day__entry-background day__row-time" value="22:38" th:name="'dishTime-' + ${id}"/>

    <!-- DEV: switch next 3 rows comments-->
    <!--<div id="dayEntry1ContentHidden" class="day__row-content day__row-content&#45;&#45;extended">-->
    <span th:id="'dishContentSmall-' + ${id}"
          class="day__entry-background day__row-content day__row-content--small pointer"
          onclick="extendDishContent(this)" th:text="${dishEntry.dish.name}">Dish name</span>
    <div th:id="'dishContentExtended-' + ${id}" class="day__entry-background day__row-content day__row-content--hidden">
        <div class="day__dish">

            <p class="day__dish-name-title">Name:</p>
            <input class="day__entry-background day__dish-name-input" th:value="${dishEntry.dish.name}" />
            <p class="day__ingredients-title">Ingredients:</p>
            <ul class="day__ingredients">
                <li class="day__ingredients-item">
                    <input class="day__entry-background day__ingredients-item--quantity" value="5 Kg" />
                    <input class="day__entry-background day__ingredients-item--name" value="Tomato" />
                </li>
                <li class="day__ingredients-item">
                    <input class="day__entry-background day__ingredients-item--quantity" value="5 Kg" />
                    <input class="day__entry-background day__ingredients-item--name" value="Tomato" />
                </li>
                <li class="day__ingredients-item">
                    <input class="day__entry-background day__ingredients-item--quantity" value="5 Kg" />
                    <input class="day__entry-background day__ingredients-item--name" value="Tomato" />
                </li>
                <li class="day__ingredients-item">
                    <input class="day__entry-background day__ingredients-item--quantity" value="5 Kg" />
                    <input class="day__entry-background day__ingredients-item--name" value="Tomato" />
                </li>
                <li class="day__ingredients-item">
                    <input class="day__entry-background day__ingredients-item--quantity" value="5 Kg" />
                    <input class="day__entry-background day__ingredients-item--name" value="Tomato" />
                </li>
                <li class="day__ingredients-item">
                    <button class="btn btn--primary btn--primary--outline day__ingredients-item--add">+</button>
                </li>
            </ul>
            <p class="day__dish-comment-title">Comment/ Recipe:</p>
            <textarea class="no-input-style day__entry-background day__dish-comment-text" rows="4" cols="25" name="dayComment" maxlength="3000">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</textarea>

        </div>
    </div>

    <input class="day__entry-background day__row-quantity" value="3 Liter" />
    <button class="btn btn--primary btn--primary--outline day__row-save">&#10004</button>
    <button class="day__background day__row-remove">x</button>
</li>
</html>