<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<li th:fragment="day (monthDay)" class="month__day " th:classappend="'month__day--' + ${monthDay.intensity}">
    <a class="" th:classappend="${monthDay.today} ? 'month__day--today' : ''" th:href="
    @{
        '/day?year=' + ${monthDay.getDate().year}
        + '&month=' + ${monthDay.getDate().getMonthValue()}
        + '&day=' + ${monthDay.getDate().dayOfMonth}
    }">
        <div class="month__day-inner-container">
            <span class="month__day-number" th:text="${monthDay.getDate().getDayOfMonth()}"
                  th:classappend="${monthDay.today} ? 'month__day-number-today' : ''">1</span>
        </div>
    </a>
</li>
</html>