*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* default 16px -> now 10px; better for user changes */
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Medium", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #000;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-medium {
  margin-bottom: 4rem !important;
}

.u-margin-top-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-huge {
  margin-bottom: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 0.5rem 2rem 0.5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  background-color: rgba(209, 209, 209, 0.75);
  font-family: "Roboto Medium";
  font-size: 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(214, 64, 12, 0.8);
  color: #fff;
  outline: none;
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(214, 64, 12, 0.8);
  color: #fff;
}
.btn--primary, .btn--primary:link, .btn--primary:visited {
  background-color: rgba(214, 64, 12, 0.8);
  color: #fff;
  padding: 0.5rem 2rem 0.5rem;
}
.btn--primary:hover, .btn--primary:active, .btn--primary:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #d6400c;
  box-shadow: none;
}
.btn--primary--outline, .btn--primary--outline:link, .btn--primary--outline:visited {
  border: solid 3px rgba(0, 0, 0, 0);
}
.btn--primary--outline:hover, .btn--primary--outline:active, .btn--primary--outline:focus {
  color: #d6400c;
  border: solid 3px #d6400c;
}
.btn--primary--white, .btn--primary--white:link, .btn--primary--white:visited {
  color: #000;
  background-color: #fff;
}
.btn--primary--white:hover, .btn--primary--white:active, .btn--primary--white:focus {
  color: #d6400c;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  background-color: #fff;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 3px;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  padding: 4rem;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #383838;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
  padding: 0 0 1rem 1rem;
}
.popup__close:hover {
  color: #d6400c;
}

.logo {
  font-family: "Lobster", sans-serif;
  font-size: 10rem;
  color: #fff;
}

.input {
  border: none;
  border-radius: 100px;
  background-color: rgba(56, 56, 56, 0.5);
  padding: 4px 10px 3px 20px;
  font-family: "Roboto Medium";
  border: solid rgba(255, 255, 255, 0.35) 3px;
  transition: all 0.2s;
  color: #fff;
  font-size: 1.8rem;
}
.input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.input:active, .input:focus, .input:hover {
  outline: none;
}
.input:hover {
  border: solid #fc7546 3px;
}
.input:active, .input:focus {
  border: solid #d6400c 3px;
}

.day {
  background-color: #ffffff;
}
.day__title {
  margin: 2rem 0 0 1rem;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}
.day__list {
  padding: 4rem;
  list-style: none;
  font-size: 1.4rem;
}
.day__background {
  padding: 0.5rem 1.5rem 2rem 1.5rem;
  border-radius: 10rem;
}
.day__row {
  display: grid;
  grid-template-columns: 8rem minmax(20rem, 1fr) 10rem 2rem;
  grid-template-rows: 2rem;
  grid-gap: 0.75rem;
}
.day__row-time {
  background-color: #ffb79e;
  text-align: center;
}
.day__row-content {
  background-color: #d1d1d1;
}
.day__row-quantity {
  background-color: #ffb79e;
  text-align: center;
}
.day__row-remove {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  border: none;
  outline: none;
  height: 2rem;
  text-align: center;
  padding: 0 0 2px 0;
  font-size: 2rem;
}
.day__row-remove:hover, .day__row-remove:active, .day__row-remove:focus {
  color: #ff2626;
}

.month {
  background-color: beige;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #383838;
}
.footer__nav, .footer__logo, .footer__copyright-text {
  margin-top: 4rem;
}
.footer__logo {
  font-size: 5rem;
}
.footer__copyright-text {
  margin-bottom: 2rem;
}

.container--index {
  display: grid;
  grid-template-rows: 2vh 10vh 88vh min-content;
  background-image: url("../img/index_1_blur.jpg");
  background-size: cover;
  color: #fff;
}

.header-index {
  grid-row: 2/span 1;
  display: grid;
  grid-template-columns: minmax(3rem, 7vw) min-content minmax(1rem, 25vw) min-content minmax(1rem, 25vw) min-content minmax(3rem, 4vw);
  align-items: center;
}
.header-index__logo {
  grid-column: 2/span 1;
  font-size: 5vw;
  color: #d6400c;
}
.header-index__login {
  grid-column: 4/span 1;
  margin-top: 10px;
}
.header-index__login-form {
  display: flex;
}
.header-index__login-password {
  margin-left: 1rem;
}
.header-index__login-btn {
  margin-left: 2.5rem;
}
.header-index__registration {
  grid-column: 6/span 1;
  margin-top: 10px;
}

.main-index {
  grid-row: 3/span 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 25vw 1fr 25vw 1fr;
  margin-top: 10px;
}
.main-index__text {
  font-size: 1.85rem;
  line-height: 2.5rem;
}
.main-index__left {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}
.main-index__right {
  grid-row: 2/span 1;
  grid-column: 4/span 1;
}

.footer {
  grid-row: 4/span 1;
}

.popup-reg__content {
  width: 20vw;
  min-width: 30rem;
}
.popup-reg__form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  color: #000;
}
.popup-reg__label {
  margin: 0 0 0.6rem 20px;
}
.popup-reg__input {
  margin-bottom: 2.5rem;
}
.popup-reg__button {
  margin-top: 3rem;
}

.popup-log__login-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}
.popup-log__text {
  color: #000;
  font-family: "Roboto Medium", sans-serif;
  margin-bottom: 2.5rem;
}
.popup-log__text--primary {
  color: #d6400c;
  font-size: 3.5rem;
  font-family: "Roboto Black", sans-serif;
  margin-bottom: 1.5rem;
}
.popup-log__label {
  margin: 0 0 0.6rem 20px;
}
.popup-log__input {
  margin-bottom: 2rem;
}
.popup-log__login-btn {
  margin-top: 2rem;
}

.container--main {
  display: grid;
  grid-template-rows: 5vh 95vh min-content;
}

.header-main {
  display: grid;
  grid-template-columns: minmax(2rem, 5vw) min-content 1fr min-content minmax(2rem, 5vw);
  align-items: center;
  background-color: #d6400c;
}
.header-main__logo {
  grid-column: 2/span 1;
  font-size: 4rem;
}
.header-main__navigation {
  grid-column: 4/span 1;
}

.main-main {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

/*# sourceMappingURL=main.css.map */
