<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head th:replace="fragments/headerAndNav :: header" />
<body>
<div th:replace="fragments/headerAndNav :: navbar" />
<div class="container">
    <p th:text="${dayEntry.date}"></p>
    <ul th:each="dishEntry : ${dayEntry.dayEntryDishes}">
        <li th:text="${dishEntry.dish.name}"></li>
        <li th:text="${dishEntry.unit}"></li>
    </ul>
    <ul th:each="symptoms : ${dayEntry.symptoms}">
        <li th:text="${symptoms.text}"></li>
    </ul>
    <p th:text="${dayEntry.anonymousComment.text}"></p>
</div>
</body>
</html>