<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Cibress - Today')"></head>
<body>

<div class="container container--main">
    <header class="header header-main">
        <span class="logo header-main__logo">Cibress</span>
        <nav class="header-main__navigation">
            <form th:action="@{/logout}" method="post">
                <input class="btn btn--primary btn--primary--white header-main__btn" value="Logout" type="submit" />
            </form>
        </nav>
    </header>

    <main class="main main-main"> <!-- stupid name but meh -->

        <div class="day">
            <!-- TODO day title format 'Day Name - Date'-->
            <h1 class="day__title" th:text="${dayEntry.date}">Thursday 14.03.19</h1>
            <ol class="day__list">

                <!-- 'th:each' works only in parent. (Not in li tag) not sure why -->
                <div th:each="dishEntry : ${dayEntry.dayEntryDishes}">
                    <!-- .dish.dishIngredientsById.get(0).ingredientByIdIngredient.na -->
                    <li th:replace="fragments/dishRow :: dishRow(id=${dishEntry.id}, dishEntry=${dishEntry})"></li>
                </div>

                <button class="day__entry-background day__add-dish-button">Add a dish</button>

                <!-- TODO Symptom -->
                <!--<li class="day__row">-->

                    <!--<input class="day__entry-background day__row-time" value="22:38" />-->
                    <!--<input class="day__entry-background day__row-content&#45;&#45;red" value="Stomach hurts" />-->
                    <!--<input class="day__entry-background day__row-quantity" value="4" />-->
                    <!--<button class="btn day__entry-background day__row-save">s</button>-->
                    <!--<button class="day__background day__row-remove">x</button> &lt;!&ndash; button? &ndash;&gt;-->

                <!--</li>-->
            </ol>

            <div class="day__entry-background day__comment">
                <h3 class="day__comment-title">Your Comment:</h3>
                <textarea class="no-input-style day__comment-text" rows="5" cols="60" name="dayComment"
                          maxlength="3000" th:text="${dayEntry.anonymousComment.text}">Comment</textarea>
                <button class="btn btn--primary--white day__comment-save">Save</button>
            </div>
        </div>

        <div class="month">
            <ol class="month__container">
                <!-- TODO Add data in controller! -->
                <div th:each="day : ${month.days}"></div>
                    <li th:replace="fragments/monthDay :: day(monthDay=${day})"></li>
            </ol>
        </div>

    </main>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<script th:src="@{js/main.js}"></script>

</body>
</html>