<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Cibress')"></head>
<div class="container">
    <p th:text="${dayEntry.date}"></p>
    <ul th:each="dishEntry : ${dayEntry.dayEntryDishes}">
        <li th:text="${dishEntry.dish.name}"></li>
        <li th:text="${dishEntry.unit}"></li>
    </ul>
    <ul th:each="symptoms : ${dayEntry.symptoms}">
        <li th:text="${symptoms.text}"></li>
    </ul>
    <p th:text="${dayEntry.anonymousComment.text}"></p>
</div>

<form th:action="@{/logout}" method="post">
    <input class="btn btn--primary" value="Logout" type="submit" />
</form>
</body>
</html>